

.xiao{
    width:27vw;
    border-radius: 100%;
}

.content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about{
    width: 45vw;
}


/***************************/
/******MOBILE STYLE*********/
/***************************/

@media only screen and (max-width:640px){
    .content-wrapper{
        flex-direction: column;
    }
    .about{
        width:80vw;
    }
    .xiao{
        width: 70vw;
        margin:4vh 0vw 2vh 0vw;
    }
}