
/*****************************/
/************BODY*************/
/*****************************/

body{
    background: #FFFCF8;
}

.content-wrapper{
    margin:20vh 10vw;
}

.row{
    padding-bottom: 10vh;
}

.section {
    margin: 4vw 0vw 4vh 0vw;
}

/*****************************/
/***********FONTS*************/
/*****************************/

h1, h2, h3, p, li{
    font-family: 'Karla', sans-serif;
}

h1{
    font-size: 4rem;
    font-weight: 400;
}
h2{
    font-size: 1.75rem;
    font-weight: 400;
}
h3{
    font-size: 1.25rem;
    font-weight: 400;
}
p, li{
    font-size: 1.125rem;
    line-height: 140%;
}


/*****************************/
/*******HEADER/FOOTER*********/
/*****************************/

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 2vw;
}

#header a{
    text-decoration: none;
    color: black;
    margin: 0vh 1vw;
}

#header h3{
    font-weight: bold;
}

#header a:hover{
    color:#E98813
}

.landing h2{
    font-weight: 400;
}

#header .right{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.name{
    width:5vw;
    transform: translate(-1.5vw, 1vh);
}


/*.header-container{
    display: block;
    position: sticky;
    top: 10px;
    z-index: 20;
}*/


#footer{
    text-align: center;
    margin:5vh;
}
#footer p{
    font-style: normal;
}

.socials img{
    width: 2vw;
}
.socials{
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
.mail{
    transform: translateX(12vw);
}
.link{
    transform:translateX(-12vw);
}
/*****************************/
/*************HOME************/
/*****************************/

.landing, .case-studies{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.landing{
    margin:0vh 8vw 0vh 8vw;
    height:100vh;
    margin-bottom:0vh;
}
.case-studies{
    margin-left: 2vw;
    padding-top:10vh;
}

.case{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14vh;
}

.case p{
    font-style: italic;
}

.gcn .image, .bento .image{
    margin-right:4vw;
}
.cg .image{
    margin-left: 4vw;
}
.gcn .label, .bento .label{
    text-align: left;
}
.cg , .label{
    text-align: right;
}
.gcn{
    margin-right: 5vw;
}

.gcn .image{
    border-radius: 5px;
}

.image{
    width: 32vw;
}

.image:hover{
    transform: scale(1.05);
    transition: transform 330ms ease-in-out;

}



/***************************/
/******MOBILE STYLE*********/
/***************************/

.mobile-nav, .mobile-header{
    display: none;
}


@media only screen and (max-width:640px){
    #footer{
        margin:0vh;
        margin-bottom: 8vh;
    }
    .socials img{
        width:8vw;
        margin-bottom: 1vh;
    }
    .link{
        transform: translateX(-25px);
    }
    .mail{
        transform: translateX(25px);
    }

    h1{
        font-size:2.5rem;
    }
    h2{
        font-size:1.5rem;
    }


    .content-wrapper{
        margin:14vh 5vw 10vh 5vw;
    }

    
    .case img{
        width:70vw;
        margin:0vh 0vw !important;
    }
    .case{
        flex-direction: column;
    }
    .label{
        text-align: center !important;
    }
    .case-studies{
        padding-top: 4vh;
    }


    .cg img{
        transform:translateY(-210px);
    }
    .cg .label{
        transform: translateY(140px);
    }

    .case{
        padding-bottom: 8vh;
    }


    /*mobile navbar*/
    .header-container{
    display: none;
}
    .mobile-header{
        display: block;
    }


    #close:hover, .hamburger:hover{
        cursor: pointer;
    }
    #close, .hamburger, .name{
        width:6vw;
        position: absolute;
        top: 3vh;
        right: 6vw;
        width:8vw;
    }

    .name{
        position: absolute;
        top:1vh;
        left:6vw;
        width:12vw;
    }

    #close{
        filter:invert(1);
    }
    .mobile-nav{
        background:#E98813;
        width:100vw;
        height:100vh;
        position: fixed;
        z-index: 10;
        top:0px;
    }

    .mobile-nav h3{
        margin:0px;
        font-size: 2rem;
    }
    .mobile-nav a{
        text-decoration: none;
        color:white;
        font-family: 'Karla';
        font-size: 2rem;
        font-weight: 400;
        margin:20px;
    }

    body{
        margin:0px;
    }

    .mobile-nav .links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }


}
